*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /**/
}
body{
    background-color: #F8F9FA;
}
.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
span{
    color: #F99E1C;
}
section{
    max-height: 600px;
    height: 100%;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #30363d;
    box-shadow: 0 10px 25px #30363d;
    text-align: center;width: 100%;
    padding: 40px;  
    border-radius: 8px;  
    border: 1px solid #30363d;
    background-color: #E9ECEF;
    box-shadow: black;
}
